.chooseBtn {
    display: none;
}

.choose-label {
    // box-shadow: #ccc 0px 0px 0px 1px;
    width: 40px;
    height: 20px;
    display: block;
    border-radius: 20px;
    position: relative;
    background-color: #bdbdbd;
   // overflow: hidden;
}

.choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    z-index: 20;//z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。
    transition: all 0.5s;
    
}

.chooseBtn:checked + label.choose-label:before {
    left: 20px;
}

.chooseBtn:checked + label.choose-label {
    background-color: #51ccee;
}